input{
  color:grey;
}
nav .brand-logo{text-indent: -9999px;
background: url(../media/logo-petit.png) top left no-repeat;
width: 148px;
height: 64px;
}
.btn.small{
  padding: 0 1em;
}

.btn.small i{
  margin: 0;
}

i.small{
  margin-left: 10px;
  font-size: .9em;
  color: #747474;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

footer {
  margin-top: 0px !important;

}

p {
  line-height: 2rem;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label,
   .input-field input[type=text]:focus + label, .input-field input[type=number]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus, .input-field input[type=email]:focus,
   .input-field input[type=text]:focus, .input-field input[type=number]:focus{
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=password].valid, .input-field input[type=email].valid,
   .input-field input[type=text].valid, .input-field input[type=number].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input.invalid, .input-field input[type=email].invalid,
   .input-field input[type=text].invalid ,.input-field input[type=number].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }


.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;

 /* position: absolute;*/
  bottom: 0;
  width: 100%;
}

.indicators > li.active {
   background-color: #ff8f00 !important;
}


@media only screen and (max-width: 660px){
    .brand-logo{
        bottom: 0 !important;
    }
}
